@import '../../../style/responsive';

.toolbar {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-right: 10px;
    padding-bottom: 20px;
    & > * {
        margin-left: 15px;
    }
}

.dialog {
    max-width: 500px !important;
    @include responsive(small) {
        width: 95% !important;
    }
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;

    .card-item {
        position: relative;
        padding-bottom: 10px;
        @include responsive(small) {
            flex-basis: 100%;
        }
        @include responsive(medium) {
            flex-basis: 50%;
        }
        @include responsive(large) {
            flex-basis: 33.333%;
        }
        & > div {
            height: 100%;
            margin: 5px;
        }
    }

    .settings-icon {
        position: absolute;
        top: 30px;
        right: 18px;
        width: 18px !important;
        height: 18px !important;
        opacity: 0.6;
        cursor: pointer;
        z-index: 300;
        &:hover {
            opacity: 1;
        }
    }
    .settings-icon:hover {
        color: red;
    }
}