@import '../../../style/index';

.users-page {
    position: relative;
    .toolbox {
        position: absolute;
        top: -110px;
        right: 100px;
        display: flex;
        flex-direction: row-reverse;
        @include responsive(small) {
            position: fixed;
            top: auto;
            bottom: 20px;
            right: 20px;
        }
        .user-remove-btn {
            button {
                background-color: $red700 !important;
            }
        }
        .user-modify-btn {
            button {
                background-color: $amber700 !important;
            }
        }
        & > div {
            margin: 5px;
        }
    }
}