@import '../style/index';

.ag-theme-material {
    background-color: transparent;
    .ag-row-selected {
        color: white;
        background-color: $blueGrey500;
        &:hover {
            background-color: $blueGrey500 !important;
        }
    }
    .ag-cell {
        border: none;
    }
    .ag-row:hover {
        background-color: $grey300;
    }
}