@import 'responsive';

html {
    height: 100vh;
    padding: 2rem;

    @include responsive(large) {

    }

    @include responsive(small) {

    }

    @include responsive(medium) {
        padding: 0;
    }

}

body {
    margin: 0;
    height: 100vh;

    @include responsive(large) {

    }

    @include responsive(medium) {
        background: none;
    }

    @include responsive(small) {

    }
}

.login.container {
    @include responsive('medium') {
        padding: 48px 10px 36px 10px !important;
        width: 60% !important;
        min-width: 200px !important;
        box-shadow: none !important;
    }
    @include responsive('small') {
        width: 100% !important;
    }
}