@import 'responsive';

html {
    height: 100vh;
    padding: 2rem;

    @include responsive(large) {
    }
    @include responsive(medium) {
    }
    @include responsive(small) {
        padding: 0;
    }
}

body {
    margin: 0;
    height: 100vh;

    @include responsive(large) {
    }
    @include responsive(medium) {
        background: none;
    }
    @include responsive(small) {
    }
}

.container {
    min-width: 300px;
    @include responsive(medium) {
        padding: 48px 10px 36px 10px !important;
        width: 55% !important;
        min-width: 200px !important;
    }
    @include responsive(small) {
        width: 100% !important;
        padding: 0 !important;
        box-shadow: none !important;
    }
}

.page {
    max-width: 800px;
    @include responsive(large) {
        padding: 48px 10px 36px 10px !important;
        width: 70% !important;
        min-width: 200px !important;
    }
    @include responsive(medium) {
        width: 90% !important;
        min-width: 200px !important;
    }
    @include responsive(small) {
        width: 100% !important;
        padding: 0 !important;
        box-shadow: none !important;
    }
}

.container .link {
    padding: 8px;
    font-size: 0.8rem;
    a {
        color: mediumvioletred;
        text-decoration: none;
    }
}

pre {
    white-space: pre-wrap;
    word-break: break-all;
}